body {
    background-color: oklch(27.4% 0.006 286.033);
}



.perfil {
    width: 250px;
    height: 250px;
    border-radius: 80px;
}

.menu {
    background-color: darkgray;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
}

.info-menu {
    text-decoration: none;
    color: black   
}

.formação-menu {
    text-decoration: none;
    color: black;
}

.nome-foto {
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: oklch(70.5% 0.015 286.067);
}

.p1 {
    text-align: center;
    font-size: 23px;
}

.card-info {
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    padding: 15px;
    border-radius:30px;
    width: 300px;
    margin-left: 50px;
    font-size: 20px;
    background-color: oklch(70.5% 0.015 286.067);
    
}

.icone-info {
    width: 40px;
}

.card-formacao {
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 30px;
    width: 300px;
    font-size: 20px;
    background-color: oklch(70.5% 0.015 286.067);
}

.cards {
    display: flex;
    gap: 30px;
}

.rodape {
    background-color: oklch(55.2% 0.016 285.938);
}

