.perfil {
    width: 250px;
    height: 250px;
    border-radius: 80px;
    margin-left: px;
}

.menu {
    background-color: darkgray;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
}

.nome-grande {
    margin-left: 100px;
}

.info-menu {
    text-decoration: none;
    color: black   
}

.formação-menu {
    text-decoration: none;
    color: black;
}

.nome-grande {
    text-align: center;
}

.nome-foto {
    box-shadow: 2px 2px 7px gray;
    padding: 15px;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
}



