.perfil {
    width: 250px;
    height: 250px;
    border-radius: 80px;
}

.menu {
    background-color: darkgray;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
}

.info-menu {
    text-decoration: none;
    color: black   
}

.formação-menu {
    text-decoration: none;
    color: black;
}

.nome-foto {
    box-shadow: 2px 2px 7px gray;
    padding: 15px;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1 {
    text-align: center;
    font-size: 23px;
}

.card-info {
    box-shadow: 2px 2px 7px gray;
    padding: 15px;
    border-radius:30px;
    width: 300px;
    margin-left: 50px;
    font-size: 20px;
    background-color: rgb(201, 201, 201)
    
}

.icone-info {
    width: 40px;
}
